# Ignore all .txt files
*.txt
# But don't ignore requirements.txt
!requirements.txt

# Python-related files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log