# Ignore requirements.txt file
university_subject_analysis_results.txt

# Python-related files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Output files
university_subject_analysis_results.txt