/*------------------------------------*/
/*  1. Common Styles (Global)         */
/*------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

:root {
    --background-color: #f8f9fa;
    --container-bg-color: #ffffff;
    --form-panel-bg-color: #e2e2e2;
    --form-group-bg-color: #d0d0d0;
    --form-group-border-color: black;
    --text-color: black;

    --page_background-color: #f8f9fa;
    --header-background-color: #f8f9fa;
    --header-text-color: black;
    --info-box-paiesku: #dee2e6;
    --content-placeholder-card-color: rgb(187, 187, 189);
    --content-placeholder-card-text-color: #6c757d;
    --erasmusPurple: #61479a;
    --erasmusBlue: #36758c;
    --erasmusYellow: #FFC857;
    --dividerGray1: #0000001F;
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

.btn {
    border-radius: 3rem;
    padding: 10px 20px;
    font-weight: 600;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 2rem 1.25rem 2rem;
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    border-bottom: 1px solid #ddd;
}

.brands {
    font-size: 1.3rem;
    color: black; /* Black text color */
    text-decoration: none; /* Remove underline */
}

.brands:link,
.brands:visited,
.brands:hover,
.brands:active {
    color: black; /* Keep text color black for all states */
    text-decoration: none; /* Remove underline for all states */
}

.slider-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/*------------------------------------*/
/*  2. Filtering Page Styles          */
/*------------------------------------*/


.filter-icon {
    margin: 0.25rem 0.25rem 0.25rem 0.5rem;
    width: 24px;
}

.form-label {
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
    width: 100%;
}

#filter-header {
    background: #ffffff;
    margin: 1rem 2rem;
    margin-bottom: 0.85rem;

}

#filter-body-main {
    border-top: 2px solid var(--dividerGray1);
    background: #FDFDFD;
    flex: 1;
}

#filter-body-secondary {
    border-top: 2px solid var(--dividerGray1);
    background: #F9FAFB;
    flex: 1;
}

#filter-footer {
    border-top: 2px solid var(--dividerGray1);
    display: flex;
    justify-content: space-between;

    & button {
        border-radius: 0.75rem;
    }

    & .btn-primary {
        background-color: var(--erasmusPurple);
    }

    & .btn-danger {
        background-color: white;
        color: black;
        border: 0;
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    }
}

.results-count {
    margin-left: 1rem;
}

hr {
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
    border-style: solid;
    z-index: -1;
}

.content-breaker {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lines {
    width: auto;
    height: 1px;
    border-bottom: 1px solid var(--dividerGray1);
}

.word {
    text-align: center;
}

#filtering-page .form-group {
    background: #F6F6F6;
    border: 2px solid #00000012;
    border-radius: 0.75rem;
    margin: 0.3rem 0.3rem;
    padding: 0.2rem 0.4rem;

    & label {
        margin: 0.25rem 2rem 0.25rem 0.25rem;
        width: auto;
        text-wrap: nowrap;
    }
}

#filtering-page .container {
    margin-top: 2rem;
    margin-bottom: 0;
    max-width: 1200px;
    background: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0;
}

#filtering-page .form-panel {
    padding: 0.5rem;
}

#filtering-page .form-container {
    display: flex;
}

#filtering-page #livingCosts {
    width: 80%;
}

@media (max-width: 768px) {
    #filtering-page .form-container {
        flex-direction: column;
    }

    #filtering-page .form-panel {
        margin: 0.5rem 0;
    }
}

/*------------------------------------*/
/*  3. Main Page Styles               */
/*------------------------------------*/

body, html {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.duk {
    border-color: transparent;
    color: var(--erasmusPurple);
    &:hover {
        color: var(--erasmusPurple);
        background-color: transparent;
        border-color: var(--erasmusPurple);
    }
    
    &:active{
        color: white;
        background-color: var(--erasmusPurple) !important;
        border-color: var(--erasmusPurple) !important;
    }
}

#profilis {
    display: none;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-color: var(--erasmusPurple);
    border-width: 1px;
    padding: 0;
    width: 40px;
    height: 40px;

    &:active {
        background-color: var(--erasmusPurple);
        transition: ease 0.3s;
    }
}

.buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    align-self: flex-end;
}

#prisijungti {
    background-color: var(--erasmusYellow);
    color: black;
    border: var(--erasmusYellow);

    &:hover {
        background-color: #e5b554;
    }
}

#main-page .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; 
    text-align: center;
    margin-top: 3rem;
}

#main-page .title {
    font-size: 2.5rem;
    letter-spacing: -4%;
    margin-bottom: 1rem;
    background: url('assets/text-mask.png') 0 0 / cover no-repeat;
    background-clip: text;
    background-size: 150%;
    color: transparent;
}

#main-page .btn-filter {
    background-color: var(--erasmusPurple);
}

#main-page .info-box {
    border: 1px solid var(--info-box-paiesku);
    border-radius: 0.25rem;
    padding: 1rem;
    min-height: 100px;
}

#main-page .info-box-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#main-page .info-box-content {
    flex-direction: column;
}

#main-page .card-placeholder {
    border: 1px solid var(--content-placeholder-card-color);
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    color: var(--content-placeholder-card-text-color);
    background-color: var(--content-placeholder-card-color);
    box-shadow: 5px 5px;
}

.mb-3 {
    width: 430px; 
}

.form-control {
    height: 50px;
    border-radius: 3rem;
    padding-left: 20px;
}

.filter-search-btns {
    display: flex;
    justify-content: space-around;
    width: 210px;
}


#loginPopup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.808); /* semi-transparent background */
    padding: 20px;
    color: white;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;

    & #closeButton {
        background-color: black;
        position: absolute;
        top: -8px;
        right: 10px;
        background: transparent; 
        border: none;     
        color: #333; 
        font-size: 20px;   
        cursor: pointer;    
        padding: 5px;    
    }


    & .form  {
        position: relative;
        background-color: #fff;
        display: block;
        padding: 1rem;
        max-width: 350px;
        border-radius: 0.5rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    }
    & .form-title {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 600;
        text-align: center;
        color: #000;
    }
    & .input-container {
        position: relative;
      }
    & .input-container input, .form button {
        outline: none;
        border: 1px solid #e5e7eb;
        margin: 8px 0;
      }
    & .input-container input {
        background-color: #fff;
        padding: 1rem;
        padding-right: 3rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 300px;
        border-radius: 0.5rem;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      }
    & .submit {
        display: block;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        background-color: #4F46E5;
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        width: 100%;
        border-radius: 0.5rem;
        text-transform: uppercase;
      }
      & .signup-link {
        color: #6B7280;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-align: center;
      }             
      & .signup-link a {
        text-decoration: underline;
      }
  }

  #signupFields {
    gap: 7px;
    display: flex;
    flex-direction: column;
    margin: 25px 10px;
    font-size: 0.875rem;
    & select {
        background-color: #fff;
    }
    & select:disabled {
        background-color: #ecf0f1;
    }
  }
  



/*------------------------------------*/
/*  4. Profile Management Page Styles */
/*------------------------------------*/

#profile-page .profile-container {
    max-width: 600px;
    margin: 2rem 10px;
    background: var(--container-bg-color);
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    height: 600px;
}

#profile-page .profile-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

#profile-page .profile-header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#profile-page .profile-header h2 {
    font-size: 1.25rem;
    margin: 0;
    font-weight: bold;
}

#profile-page .form-group-settings {
    display: flex;
    flex-direction: row;
    padding: 0.3rem;
    margin: 0.3rem;
    background-color: var(--background-color);
    border-radius: 0.3rem;
    align-items: baseline;
}

#profile-page .delete-account {
    color: #dc3545;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.875rem;
    cursor: pointer;
}

#profile-page .delete-account:hover {
    text-decoration: underline;
}

#profile-page .settings-form {
    display: flex;
    flex-direction: column;
}

#profile-page .form-group-settings > label, input {
    padding-right: 2rem;
    text-wrap: nowrap;
}

#profile-page .form-group-settings > label {
    margin-top: 0.3rem;
}

.settings-form {
    & label {
        margin: 0.25rem 2rem 0.25rem 0.25rem;
        width: auto;
        text-wrap: nowrap;
    }


}